.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        color: #ffffff;
        text-align: left;
        line-height: 1.2;
    }
    @media (max-width: 768px){
        font-size: 768/950*30px;
    }
    @media (max-width: 576px){
        font-size: 576/950*30px;
    }
    @media (max-width: 420px){
        font-size: 420/950*30px;
    }
    @media (max-width: 320px){
        font-size: 320/950*30px;
    }
}

