.consultation {
    min-height: 680px;
    padding: 100px 0 92px  0;
    background: url('../img/consultation.jpg') center (center/cover) no-repeat;
    &__descr {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
    }
    @media (max-width: 768px){
        min-height: 768/950*680px;
        padding: {
            top: 768/950*92px;
            bottom: 768/950*92px;
        }
        &__descr {
            font-size: 768/950*20px;
        }

    }
    @media (max-width: 576px){
        min-height: 576/950*680px;
        padding: {
            top: 576/950*92px;
            bottom: 576/950*92px;
        }
        &__descr {
            font-size: 576/950*20px;
        }

    }
    @media (max-width: 420px){
        min-height: 420/950*680px;
        padding: {
            top: 420/950*92px;
            bottom: 420/950*92px;
        }   
        &__descr {    
            font-size: 420/950*20px;
        }
    }
    @media (max-width: 320px){
        min-height: 320/950*680px;
        padding: {
            top: 320/950*92px;
            bottom: 320/950*92px;
        }
        &__descr {  
            font-size: 320/950*20px;
        }
    }
}