@import 'base/variables';
@import 'base/animation';

* {
    font-family: "Museo Sans Cyrl", sans-serif;
}

.container { 
    position: relative;
    max-width: 950px;
    margin: 0 auto;
    @media (max-width: 992px) {
        padding: 0 10px;
    }
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/adventages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/error';
@import 'blocks/pageUp';
